<%- include('partials/header') %>
<%- include('partials/menu') %>

<main class="container">
  <h1>Bienvenido, <%= user.name %></h1>
    <h2>Buscador de películas</h2>
  <div class="search-bar">
    <input type="text" id="searchInput" placeholder="Busca una película...">
    <button class="btn btn-search">Buscar</button>
  </div>
  <div id="movies-grid"></div>
</main>
<p><a href="/dashboard"></a></p>

<%- include('partials/footer') %>