<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="icon" type="image/png" href="/img/2798007.png">
    <link rel="stylesheet" href="/css/style.css?v=2" />
    <% if (page === 'login') { %>
      <script src="/js/login.js" defer></script>
    <% } %>
    <% if (page === 'signup') { %>
      <script src="/js/signup.js" defer></script>
    <% } %>
    <% if (page === 'admin-movies') { %>
      <script src="/js/admin-movies.js" defer></script>
    <% } %>
    <% if (page === 'admin-users') { %>
      <script src="/js/admin-users.js" defer></script>
    <% } %>
    <% if (page === 'dashboard') { %>
      <script type="module" src="/js/dashboard.js" defer></script>
    <% } %>
    <% if (page === 'film-detail') { %>
      <script type="module" src="/js/film-detail.js" defer></script>
    <% } %>
    <% if (page === 'favorites') { %>
      <script type="module" src="/js/favorites.js" defer></script>
    <% } %>
  </head>
  <body>
